<body>
    <br>
    <h1 align="Center">Family Details</h1>
    <br>
    <form [formGroup]='FamilyviewForm' align="center">
       <div class="form-outline mb-4 " >
        <input type="textarea" placeholder="Enter ApartmentNumber" formControlName="ApartmentNumber" id="form3Example3cg" class="form-control form-control-lg" />               
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" (click)="OnSubmit()" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">View Family</button>
      </div>
    </form>
    <br>
    <br>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th> SL Number </th>
            <th> Name</th>
            <th> Apartment Name</th>
            <th> Gender</th>
            <th> Email</th>
            <th> Phone Number</th>
            <th> Occupation</th>
            <th> Date Of Birth</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Dataarray let i=index" class="table-primary">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{i+1}}</p>
                </div>
              </div>
            </td>
            <td>{{item.firstName}} {{item.lastName}}
            </td>
            <td> {{item.apartmentName}}</td>
            <td> {{item.inlineRadioOptions}}</td>
            <td> {{item.email}}</td>
            <td> {{item.phoneNumber}}</td>
            <td> {{item.occupation}}</td>
            <td> {{item.dob}}</td>
            
          </tr>
          </tbody>
          </table>
    </body>
