
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i
                class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong></strong></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
            </ul>
        </div>
    </div>
</nav>
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <p class="lead text-muted" style="font-size: 200%;">"The Greatness of a Community Is Most Accurately
                    Measured By The Compassionate Actions Of Its Members"</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
                    alt="" class="img-fluid"></div>
        </div>
    </div>
</div>
<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Our Specialty</h2>
                <p class="lead text-muted" style="font-size: 150%;">We are The Esidence Residents’ Association (ERA) and
                    this is our community website which is in the process of being upgraded.
                    Esidence is an area in South West kerala, Cohin. There has been a residents’ association, in some
                    form, since about 1906. We are a very active association with a strong committee and membership. We
                    appreciate the environment that we enjoy locally especially the green spaces of Esidence. Also we
                    are very close to the historic River Wandle which provides wonderful walks all the way between
                    Croydon and Wandsworth .Our main purpose is to maintain a feeling of community, preserve what we
                    have and, where we can, work with the Council and other organisations towards improvements.
                    A lively community spirit, well preserved Edwardian-era properties, tree-lined roads, excellent
                    schooling, good transport links, independent shops and services and a number of really good
                    restaurants make this a very attractive place in which to live and work.</p><a href="#"
                    class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Our History</h2>
                <p class="font-italic text-muted" style="font-size:150%;">We have recently formed the Esidence Community
                    Trust. This is specifically to run the new community hall and cafe, located at 170, Arthur Road,
                    which opened in January 2022. This new facility replaces the old Village Hall that was closed in
                    2003 by the Council. At that time the WPRA negotiated with the Council to have a replacement
                    facility provided within the new development, when the site was sold. For a variety of reasons,
                    including the financial collapse in 2008/9, this project has only just come to fruition.
                    Esidence is the stop before Wimbledon on the District Line.
                    Esidence is a great place to live. Come and check it out!</p><a href="#"
                    class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
        </div>
    </div>
</div>
