body{
    height:900px;
    background-color: #8fc4b7;
}
table{
    border-radius: 50%;
    width:1400px;
    margin-left: 50px;
}
h1{
    color: midnightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}