<body>
  <br>
  <h1 align="center">Accounts Details View</h1>
  <br>
  <form [formGroup]='AccountsviewForm'>
  <div class="parent" >
    <div class="inline" >Total Income
    <input type="text" [(ngModel)]="income" formControlName="Totalincome"  form id="form3Example1cg"  class="form-control form-control-lg" readonly/>
    </div>
    <div class="inline" >Total Expense
      <input type="text" [(ngModel)]="expense" formControlName="Totalexpense" form id="form3Example1cg" class="form-control form-control-lg" readonly />                
    </div> 
    <div class="inline" >Balance
      <input type="text" [(ngModel)]="balance" formControlName="balance" form id="form3Example1cg" class="form-control form-control-lg" readonly/>                
    </div>              
  </div>
  </form>
  <h1 align="center">Expense</h1><br>
  <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th> SL Number </th>
         <!-- <th> UserName</th>
          <th> ApartmentNumber</th>-->
          <th>Date</th>
          <th> Event </th>
          <th> Amount</th>
  
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of Dataarray let i=index" class="table-primary">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{i+1}}</p>
              </div>
            </div>
          </td>
         <!-- <td>
            <p class="fw-normal mb-1">{{item.userName}}</p>
          </td>
          <td> {{item.apartmentNumber}}</td>-->
          <td>{{item.date}}</td>
          <td> {{item.event}}</td>
          <td> {{item.paymentamt}} </td>
        </tr>
        </tbody>
        </table>
        <br><br>
        <h1 align="center">Income</h1><br>
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th> SL Number </th>
              <th> UserName</th>
              <th> ApartmentNumber</th>
              <th> Date</th>
              <th> Event </th>
              <th> Amount</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of Dataarray2 let i=index" class="table-primary">
              <td>
                <div class="d-flex align-items-center">
                  <div class="ms-3">
                    <p class="fw-bold mb-1">{{i+1}}</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">{{item.userName}}</p>
              </td>
              <td> {{item.apartmentNumber}}</td>
              <td>{{item.date}}</td>
              <td> {{item.event}}</td>
              <td> {{item.paymentamt}} </td>
            </tr>
            </tbody>
            </table>
      </body>
        