table{
    margin-left: 100px;
    margin-right: 100px;
    border: 1px;
    width:1300px;
}
h1{
    color: midnightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height:900px;
    background-color: #8fc4b7;
}
form{
    margin-left: 100px;
    width:1350px;
}
.parent{
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
}
.inline{
    display: inline-block;
    width:33%;
    height: 100%;
    padding-right: 3%;
}