h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: blue;
}
nav a:hover{
    background:palevioletred;
    transition:0.5s;
    text-transform:uppercase;
}

nav a{
 //width:100px;
 display:block;
 padding:10px 15px;
 text-decoration:none;
 font-family:Arial;
 color:#f2f2f2;
 text-align:center;
 font-size:16px ;
 }
 nav{
    width:100%;
    background:black;
    overflow:auto;
}
.tab {
    display: inline-block;
    margin-left: 550px;
}
.parent{
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
    margin-left: 10px;
}
.inline{
    display: inline-block;
    width:15%;
    height: 100%;
}       