<body>
    <br>
    <h1 align="Center">Notice Board</h1>
    <br>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th> SL Number </th>
            <th> Date Of Program</th>
            <th> Announcement Title</th>
            <th> Announcement Subject</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Dataarray let i=index" class="table-primary">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{i+1}}</p>
                </div>
              </div>
            </td>
            <td>{{item.date}}
            </td>
            <td> {{item.title}}</td>
            <td> {{item.subject}}</td>
            
          </tr>
          </tbody>
          </table>
    </body>
